<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SoundFont Instruments</title>
</head>

<body>
    <div style="position: fixed; top: 0; width: 100%; background-color: lightgrey; padding: 10px; z-index: 1000;">
        <a href="/fancy"><button>Voices</button></a>
        <a href="/fonts"><button>Fonts</button></a>
    </div>

    <script>
        let tlast = null;
        function pressed(e, name) {
            if (tlast) {
                tlast.style.backgroundColor = "white";
            }
            e.style.backgroundColor = "blue";
            ref = `/font?${font}`
            fetch(ref);
            tlast = e;
        }
    </script>
    <div style="margin-top: 60px;">
        {% for instr in instruments %}
        <span style="display:inline-block; padding:5px; background-color: white; border:1;"
            onclick="pressed(this, '{{ font.name }}')">{{ font.name }}</span>
        {% endfor %}
    </div>
</body>

</html>